extends layout

block content
  h1 Check Charge Status
  p El cargo por #{charge.amount / 100} pesos, tiene un status #{charge.status}
  pre #{JSON.stringify(charge, null, 2)}
  p: img(src="#{charge.payment_method.barcode_url}")
